@import url(modal.css);
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}

body {
    height: 100vh;
    display: flex;
    position: absolute;
}

/* <!-- EVENT SECTION --> */
.eventSection {
    background-color: #f28b77;
    display: flex;
    flex-direction: row;
    width: 30%;
    font-size: 3.5rem;
    color: #fddcd5;
    padding-left: 1rem;
}

.titleYear{
    display: flex;
    justify-content: right;
    font-size: 3.5rem;
    color: #f28b77;
    margin-right: 1rem;
    padding-bottom: 1rem;
}

/* <!-- CALENDAR SECTION --> */
.calendarSection {
    background-color: #fddcd5;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100vh;
}

.calendarHeader{
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
}

.buttonNewEvent{
    display: flex;
    justify-content: right;
    margin-right: 1rem;
}

.btnNewEvent{
    width: 8rem;
    height: 2rem;
    border-radius: 0.2rem;
    justify-content: center;
    align-content: center;
    background-color: #f28b77;
    color: #fddcd5;
    font-weight: 700;
    border: none;
}


/*WEEKDAYS*/
.weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f28b77;
}

.weekdays div {
    font-size: 1.9rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(60.2rem/7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 0.5rem;
}

/* CALENDAR DAYS */
.days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}

.days div{
    font-size: 1.4rem;
    margin: 0.3rem;
    width:calc(56.2rem/7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev-date, .next-date{
    opacity: 0.5;
}

