@import url(./modal.css);
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}

body {
    height: 100vh;
    display: flex;
    position: absolute;
    width: 100%;
}

/* <!-- CALENDAR SECTION --> */

/* CALENDAR SECTION RIGHT */
.calendarSection {
    background-color: #fddcd5;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100vh;
}

.calendarHeader {
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
}

/* TITLE YEAR STYLE */
.titleYear {
    display: flex;
    justify-content: right;
    font-size: 3.5rem;
    color: #f28b77;
    margin-right: 1rem;
    padding-bottom: 1rem;
}

/* EVENT SECTION LEFT */
.eventSection {
    background-color: #f28b77;
    display: flex;
    flex-direction: column;
    width: 30%;
    font-size: 3.5rem;
    color: #fddcd5;
}

.eventDateSection {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 6rem;
}

.eventDateSection hr {
    width: 100%;
}

/* TITLE EVENT SECTION STYLE */
.titleEventSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 4rem 3rem;
}

.titleDateEventSection {
    display: flex;
    justify-content: left;
    position: absolute;
    align-items: center;
    padding: 1rem 2rem;
}

.titleDateEventSection p {
    font-size: 3.5rem;
    color: #f28b77;
    padding: 1rem;
}

/* BUTTON NEW EVENT */
.buttonNewEvent {
    display: flex;
    justify-content: right;
    margin-right: 1rem;
}

.btnNewEvent {
    width: 8rem;
    height: 2rem;
    border-radius: 0.2rem;
    justify-content: center;
    align-content: center;
    background-color: #f28b77;
    color: #fddcd5;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

/*WEEKDAYS*/

/* BUTTONS NEXT MONTH STYLE */
.btnNextMonth {
    background-image: url("../assets/buttonNext.png");
    background-repeat: no-repeat;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

.btnBackMonth {
    background-image: url("../assets/buttonBack.png");
    background-repeat: no-repeat;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

/* DAYS STYLES */

.days {
    display: grid;
    width: 100%;
    height: 65vh;
    gap: 0px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    color: #f28b77;
    text-align: center;
    cursor: pointer;
    align-items: center;
    border-radius: 50%;
}



.today {
    color: #fddcd5 !important;
    background-color: #f28b77 !important;
    border-radius: 50%;
}

.prev-date,
.next-date {
    opacity: 0.5;
}

/*WEEKDAYS STYLE*/
.days div {
    font-size: 1.4rem;
    margin: 0.3rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f28b77;
    background-color: #fddcd5;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    text-align: center;
}

.eventOnDay {
    display: none;
    left: 0px;
    top: 0px;
    z-index: 5;
    color: #fddcd5;
    width: 2.5vh;
    height: auto;
    background-color: #f28b77;
    border: none;
    border-radius: 50%;
}

.days div:hover {
    background-color: #fbb0a1;
    color: #fddcd5 !important;
}

.days div:hover .eventOnDay {
    display: block;
}

.eventOnDay:hover {
    background-color: #fddcd5;
    color: #f28b77 !important;
}

.weekdays {
    display: grid;
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px;
    align-items: center;
    justify-content: center;
    color: #f28b77;
}

.weekdays div {
    font-size: 1.9rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(60.2rem/7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 0.5rem;
}

.weekdays div {
    justify-self: center;
}